NODE_ENV=development
NEXT_PUBLIC_URL=http://localhost:3000
NEXT_PUBLIC_SETTING_URL=https://moccasin-aardvark-454600.hostingersite.com/wp-json/hvcore-settings/v1
NEXT_PUBLIC_BASE_URL=https://moccasin-aardvark-454600.hostingersite.com
WOOCOMMERCE_KEY=ck_9de4ded185442a15195eaae21003ad27d94d4ff0
WOOCOMMERCE_SECRET=cs_9bb7bfa958ec5ad70636d0666dd757d44c38e50a
